<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      CONTROL DOCENTES
      <img class="float-end" id="logo"
           src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="mb-3">
    <h5 class="text-center mb-3">SELECCIONAR CARRERA</h5>
    <button class="btn btn-primary text-dark buttons btn-carrera col-2 p-3 m-3" (click)="next(i.descripcionCarrera,i.id)" *ngFor="let i of carrera" routerLink="/admin/docentes-ccarrera">{{i.id}}<br>
    {{i.descripcionCarrera}}</button>
  </div>
  <hr>
  <div class="mb-3 mt-3">
    <h5 class="text-center mb-3">DOCENTES SIN CARRERA</h5>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">PRIMER APELLIDO</th>
        <th scope="col">SEGUNDO APELLIDO</th>
        <th scope="col">NOMBRE</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let i of emptyTeacher;let j=index">
        <th scope="row">{{j+1}}</th>
        <td>{{i.ape1Administrativo}}</td>
        <td>{{i.ape2Administrativo}}</td>
        <td>{{i.nombreAdministrativo}}</td>
        <td><button class="btn btn-primary text-dark buttons" (click)="addCareer(i.id,i.nombreAdministrativo)" routerLink="/admin/asignar-carreras">ASIGNAR CARRERA</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="d-flex sticky-bottom justify-content-between mt-3">
    <button class="btn btn-secondary opciones" routerLink="/admin/admin-principal">Regresar</button>
    <button class="btn btn-secondary opciones" routerLink="/admin/all-docentes">Ver Todos los Docentes</button>
    <button class="btn btn-secondary opciones" routerLink="/admin/add-docente">Nuevo Docente</button>
  </div>
</div>
