<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      VALIDAR CARGA ACADEMICA DEL SEMESTRE {{idSemestre}}
      <img class="float-end" id="logo" src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="mb-3">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID MATERIA</th>
        <th scope="col">NOMBRE MATERIA</th>
        <th scope="col">HORAS PRACTICAS</th>
        <th scope="col">HORAS TEORICAS</th>
        <th scope="col">TOTAL CREDITOS</th>
        <th scope="col">OPORTUNIDAD</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let i of carga_semestre;let j=index">
        <th scope="row">{{j+1}}</th>
        <td>{{i.idHorarioFk.claveMateriaFk.id}}</td>
        <td>{{i.idHorarioFk.claveMateriaFk.nombreMateria}}</td>
        <td class="text-center">{{i.idHorarioFk.claveMateriaFk.horasPracticas}}</td>
        <td class="text-center">{{i.idHorarioFk.claveMateriaFk.horasTeoricas}}</td>
        <td class="text-center">{{i.idHorarioFk.claveMateriaFk.totalCreditos}}</td>
        <td>{{i.idOpcionFk.oportunidadOpcion}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="d-flex sticky-bottom justify-content-between mt-3">
    <button class="btn btn-secondary opciones" routerLink="/admin/semestres" (click)="back()">Regresar</button>
    <button class="btn btn-secondary opciones" (click)="validar()">Enviar</button>
    <div class="flex-column bg-secondary p-1 opciones" style="border-radius: 5px">
      <div *ngFor="let c of opciones">
        <label class="text-light" for="{{c}}">{{c}}</label>&nbsp;
        <input id="{{c}}" [value]="c" type="radio" name="options" [(ngModel)]="estado"><br>
      </div>
    </div>
  </div>
</div>

