<div class="d-flex cuerpo">
  <div class="container">
    <section class="form-login d-flex flex-column row">
      <h5>BIENVENIDO</h5>
      <input class="controls text-uppercase" (keyup.enter)="sesion(txtNombre.value,txtContra.value)" type="text"
             placeholder="Usuario" #txtNombre>
      <hr>
      <div class="d-flex">
        <input class="controls" [type]="fieldTextType ? 'text' : 'password'"
               (keydown.enter)="sesion(txtNombre.value,txtContra.value)" required type="password" #txtContra>
        <button style="height: 70%" (click)="toggleFieldTextType()">Ver</button>
      </div>

      <button class="btn botton text-center" (click)="sesion(txtNombre.value,txtContra.value)" required>INGRESAR
      </button>
    </section>
  </div>
</div>
