<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      SEMESTRES CURSADOS DE {{nombreAlumno}}
      <img class="float-end" id="logo"
           src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="mb-3">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" class="text-center">SEMESTRES</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let i of semestre;let j=index">
        <th scope="row">{{j+1}}</th>
        <td class="text-center">{{i.semestreLlevado}}</td>
        <td class="d-flex justify-content-center"><button class="btn btn-primary text-dark buttons" (click)="goCarga(i.semestreLlevado)">VALIDAR CARGA</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="d-flex sticky-bottom justify-content-center mt-3">
    <button class="btn btn-secondary opciones" routerLink="/admin/cargas" (click)="back()">Regresar</button>
  </div>
</div>
