<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      ASIGNAR MATERIAS
      <img class="float-end" id="logo"
           src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="mt-3 mb-3 row d-flex justify-content-center">
    <h5 class="text-center">SELECCIONE LAS MATERIAS</h5>
    <div class="col-3 p-2 m-3 check-container text-center" *ngFor="let i of allSubject">
      <label class="text-dark" for="{{i.id}}">{{i.id}}<br>{{i.nombreMateria}}</label>&nbsp;
      <input type="checkbox" id="{{i.id}}" [value]="i.id" (change)="onCheckboxChange($event)">
    </div>
  </div>
  <hr>
  <div class="d-flex sticky-bottom justify-content-between mt-3">
    <button class="btn btn-secondary opciones" routerLink="/admin/grupos-add-materias">Regresar</button>
    <div class="flex-column bg-secondary p-1 opciones" style="border-radius: 5px">
      <div *ngFor="let c of opciones">
        <label class="text-light" for="{{c}}">{{c}}</label>&nbsp;
        <input id="{{c}}" [value]="c" type="radio" name="options" [(ngModel)]="periodo"><br>
      </div>
    </div>
    <button class="btn btn-secondary opciones" (click)="saveCareers()">Guardar</button>
  </div>
</div>
