<div class="d-flex">
    <div class="bg-dark border-right p-3" id="sidebar">
        <div>
          <a style="text-decoration: none" routerLink="docente-principal">
            <h3 class="text-light">
                Perfil
                <img class="float-end" id="imgPerfil" src="https://cdn.icon-icons.com/icons2/2483/PNG/512/user_icon_149851.png">
            </h3>
          </a>
        </div>
        <hr>
        <div class="list-group list-reset">
            <button class="btn btn-success mb-3" routerLink="actualizar-docente">Actualizar Informacion</button>
            <button class="btn btn-success mb-3" routerLink="materias">Calificaciones</button>
            <button class="btn btn-success mb-3" (click)="closeSesion()" routerLink="/auth/login">Cerrar Sesion</button>
        </div>
    </div>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
