<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      SELECCIONAR GRUPO DE LA CARRERA {{nombreCarrera}}
      <img class="float-end" id="logo" src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary text-dark buttons col-2 p-3 m-3" (click)="getGrupo(i.idGrupoFk.numeroGrupo)" *ngFor="let i of grupo">{{i.idGrupoFk.numeroGrupo}}</button>
  </div>
  <hr>
  <div class="d-flex sticky-bottom justify-content-center mt-3">
    <button class="btn btn-secondary opciones" routerLink="/admin/carreras" (click)="back()">Regresar</button>
  </div>
</div>
