<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      MATERIAS
      <img class="float-end" id="logo"
           src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="mb-3">
    <button class="btn btn-primary text-dark buttons text-wrap btn-materia col-2 p-3 m-3"
            (click)="getSubject(i.claveMateriaFk.id,i.idGrupoFk.numeroGrupo)"
            *ngFor="let i of subjects">{{i.claveMateriaFk.id}}<br>
      {{i.claveMateriaFk.nombreMateria}}<br>
      HORAS TEORICAS: {{i.claveMateriaFk.horasTeoricas}}<br>
      HORAS PRACTICAS: {{i.claveMateriaFk.horasPracticas}}<br>
      TOTAL DE CREDITOS: {{i.claveMateriaFk.totalCreditos}}<br>
      GRUPO: {{i.idGrupoFk.numeroGrupo}}</button>
  </div>
  <hr>
  <div class="d-flex sticky-bottom justify-content-center mt-3">
    <button class="btn btn-secondary opciones" routerLink="/menu/docente-principal">Regresar</button>
  </div>
</div>
