<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      HOLA ADMINISTRATIVO {{dataDocente.nombreAdministrativo}}
      <img class="float-end" id="logo" src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="d-flex justify-content-center mt-5">
    <div class="card info opciones" style="width: 35rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center mt-5 mb-5 info-content">
          <h5>NOMBRE: {{dataDocente.nombreAdministrativo}} {{dataDocente.ape1Administrativo}} {{dataDocente.ape2Administrativo}}</h5>
        </li>
        <li class="list-group-item text-center mb-5 info-content">
          <h5>TELEFONO: {{dataDocente.telefonoAdministrativo}}</h5>
        </li>
        <li class="list-group-item text-center mb-5 info-content">
          <h5 class="text-uppercase">DIRECCION: {{dataDocente.direccionAdministrativo}}</h5>
        </li>
        <li class="list-group-item text-center mb-5 info-content">
          <h5>CORREO: {{dataDocente.contraseniaAdministrativo}}</h5>
        </li>
      </ul>
    </div>
  </div>
</div>
