<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      CALIFICACIONES
      <img class="float-end" id="logo"
           src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="mb-3">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">NUMERO DE CONTROL</th>
        <th scope="col">PRIMER APELLIDO</th>
        <th scope="col">SEGUNDO APELLIDO</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">CALIFICACION</th>
        <th scope="col">NIVEL DE DESEMPEÑO</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let i of alumn;let j=index">
        <th scope="row">{{j + 1}}</th>
        <td>{{i.numeroControlFk.id}}</td>
        <td>{{i.numeroControlFk.ape1Alumno}}</td>
        <td>{{i.numeroControlFk.ape2Alumno}}</td>
        <td>{{i.numeroControlFk.nombreAlumno}}</td>
        <td><input type="number" (keydown.tab)="getPerformance(txtCalificacion.value,j)" (keyup.enter)="getPerformance(txtCalificacion.value,j)" placeholder="0" #txtCalificacion></td>
        <td>{{desempenio[j]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="d-flex sticky-bottom justify-content-between mt-3">
    <button class="btn btn-secondary opciones" routerLink="/menu/materias" (click)="back()">Regresar</button>
    <button class="btn btn-secondary opciones" routerLink="/menu/materias" (click)="makePost()">Guardar</button>
  </div>
</div>
