<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      ADMINISTRATIVOS
      <img class="float-end" id="logo"
           src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="mb-3 mt-3">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">PRIMER APELLIDO</th>
        <th scope="col">SEGUNDO APELLIDO</th>
        <th scope="col">NOMBRE</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let i of admin;let j=index">
        <th scope="row">{{j+1}}</th>
        <td>{{i.ape1Administrativo}}</td>
        <td>{{i.ape2Administrativo}}</td>
        <td>{{i.nombreAdministrativo}}</td>
        <td><button class="btn btn-primary text-dark buttons" (click)="update(i.id)" routerLink="/admin/actualizar-administrativos">ACTUALIZAR INFORMACION</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="d-flex sticky-bottom justify-content-between mt-3">
    <button class="btn btn-secondary opciones" routerLink="/admin/admin-principal">Regresar</button>
    <button class="btn btn-secondary opciones" routerLink="/admin/add-administrativo">Nuevo Administrativo</button>
  </div>
</div>
