<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      ASIGNAR CARRERAS
      <img class="float-end" id="logo"
           src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="mt-3 mb-3 row d-flex justify-content-center">
    <h5 class="text-center">SELECCIONE LAS CARRERAS PARA {{nomDocente}}</h5>
    <div class="col-3 p-2 m-3 check-container text-center" *ngFor="let i of carrera">
      <label class="text-dark" for="{{i.id}}">{{i.descripcionCarrera}}</label>&nbsp;
      <input type="checkbox" id="{{i.id}}" [value]="i.id" (change)="onCheckboxChange($event)">
    </div>
  </div>
  <hr>
  <div class="d-flex sticky-bottom justify-content-between mt-3">
    <button class="btn btn-secondary opciones" (click)="back()" routerLink="/admin/docentes">Regresar</button>
    <button class="btn btn-secondary opciones" (click)="saveCareers()">Guardar</button>
  </div>
</div>
