<div class="row p-3">
  <div class="container-fluid">
    <h3 class="text-center">
      AGREGAR ADMINISTRATIVOS
      <img class="float-end" id="logo"
           src="https://cdn.discordapp.com/attachments/831740786638192653/1065636278399414384/55_sin_titulo_4.png">
    </h3>
    <hr>
  </div>
  <div class="d-flex justify-content-center text-center row mt-5">
    <div class="col-3 mx-3 mb-5 buttons">
      <label for="txtApe1">PRIMER APELLIDO</label><br>
      <input type="text" class="text-uppercase" placeholder="PRIMER APELLIDO" #txtApe1 (keyup.enter)="save(txtApe1.value,txtApe2.value,txtContrasenia.value,txtCorreo.value,txtDireccion.value,txtNom.value,txtTelefono.value)" id="txtApe1">
    </div>
    <div class="col-3 mx-3 mb-5 buttons">
      <label for="txtApe2">SEGUNDO APELLIDO</label><br>
      <input type="text" class="text-uppercase" placeholder="SEGUNDO APELLIDO" #txtApe2 (keyup.enter)="save(txtApe1.value,txtApe2.value,txtContrasenia.value,txtCorreo.value,txtDireccion.value,txtNom.value,txtTelefono.value)" id="txtApe2">
    </div>
    <div class="col-3 mx-3 mb-5 buttons">
      <label for="txtNom">NOMBRE</label><br>
      <input type="text" class="text-uppercase" placeholder="NOMBRE" #txtNom (keyup.enter)="save(txtApe1.value,txtApe2.value,txtContrasenia.value,txtCorreo.value,txtDireccion.value,txtNom.value,txtTelefono.value)" id="txtNom">
    </div>
    <div class="col-3 mx-3 mb-5 buttons">
      <label for="txtTelefono">TELEFONO</label><br>
      <input type="number" placeholder="TELEFONO" #txtTelefono (keyup.enter)="save(txtApe1.value,txtApe2.value,txtContrasenia.value,txtCorreo.value,txtDireccion.value,txtNom.value,txtTelefono.value)" id="txtTelefono">
    </div>
    <div class="col-3 mx-3 mb-5 buttons">
      <label for="txtCorreo">CORREO</label><br>
      <input type="email" placeholder="CORREO" #txtCorreo (keyup.enter)="save(txtApe1.value,txtApe2.value,txtContrasenia.value,txtCorreo.value,txtDireccion.value,txtNom.value,txtTelefono.value)" id="txtCorreo">
    </div>
    <div class="col-3 mx-3 mb-5 buttons">
      <label for="txtDireccion">DIRECCION</label><br>
      <input class="text-uppercase" type="text" placeholder="DIRECCION" #txtDireccion (keyup.enter)="save(txtApe1.value,txtApe2.value,txtContrasenia.value,txtCorreo.value,txtDireccion.value,txtNom.value,txtTelefono.value)" id="txtDireccion">
    </div>
    <div class="col-3 mx-3 mb-5 buttons">
      <label for="txtContrasenia">CONTRASEÑA</label><br>
      <input [type]="fieldTextType ? 'text' : 'password'" #txtContrasenia id="txtContrasenia" (keyup.enter)="save(txtApe1.value,txtApe2.value,txtContrasenia.value,txtCorreo.value,txtDireccion.value,txtNom.value,txtTelefono.value)">
      <button (click)="toggleFieldTextType()">Ver</button>
    </div>
  </div>
  <hr>
  <div class="d-flex sticky-bottom justify-content-between mt-5">
    <button class="btn btn-secondary opciones" routerLink="/admin/administrativos">Regresar</button>
    <button class="btn btn-secondary opciones" (click)="save(txtApe1.value,txtApe2.value,txtContrasenia.value,txtCorreo.value,txtDireccion.value,txtNom.value,txtTelefono.value)">Guardar</button>
  </div>
</div>
